<!DOCTYPE html>
<html>
<body text="Black" bgcolor="lightyellow">

	<title>OCV Prediction Portal</title>

	<style>
   		h2 {text-align: center;}
	</style>

	<h2>PEMFC OCV PREDICTION PORTAL</h2>

	<table style="white-space:nowrap; width:50%;" align="center">
	<tr>
	<th>

	<form action = '/uploadfile' method='POST'
	enctype = 'multipart/form-data'>
	Upload The File For OCV Prediction <br><br><br><br>
	<input type="file" name="file" /><br><br>

	<input type = "submit" /><br><br>
	<p>
	<h4> INSTRUCTIONS : The Format In Which To Upload The File Is Given Below. Kindly Download The Given Link File And Upload The Same In Given Format. </h4>

	<a href="https://docs.google.com/spreadsheets/d/1kaXtDQ5rArLSk0eE07yQGAwf4GS2CmKTQbN5AVIK6l0/edit?usp=sharing" target="_blank">Download</a>

	</th>
	</tr>
	</table>

	</form>

</body>
</html>
